*{
    box-sizing: border-box;
}
body {
    height: 100vh;
    width: 100vw;
}
section{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    flex-direction: row;
}
p{
    border: 1px solid #000;
    display: flex;
}
#dealer{
    display: flex;
    border: 1px solid #000;
    grid-column: 3;
    grid-row: 1;
}
#player{
    display: flex;
    border: 1px solid #000;
    grid-column: 3;
    grid-row: 5; 
    align-items: flex-end;
}
.card{
    box-shadow: 2px 2px 3px 0 rgba(41, 41, 41, 0.75);
    border-radius: 0.20em;
}
.chips{
    order: 3;
}
.token{
    order: -1;
    border-radius: 50%;
}
.pile{
    display: flex;
    box-shadow: 2px 2px 3px 0 rgba(41, 41, 41, 0.75);
    border-radius: 0.20em;
}
#drawPile{
    grid-column: 1;
    grid-row: 3;
    background-image: url("../images/Back.png");
}
#spikePile{
    grid-column: 2;
    grid-row: 3;
}
#discardPile{
    grid-column: 1;
    grid-row: 2;
}
#diceBox{
    display: flex;
    grid-column: 4;
    grid-row: 3;
    
}
#sabaccPot{
    border: 1px solid #000;
    border-radius: 0.20em;
    grid-column: 5;
    grid-row: 2;
}
#gamePot{
    border: 1px solid #000;
    border-radius: 0.20em;
    grid-column: 5;
    grid-row: 3;
}
.dice{
    background-image: url("../images/Spike Die Side 1.png");
}
.token{
    background-image: url("../images/SabaccDealerPuck.png");
}
